@media screen and (max-width: 1000px) {
    #content,
    aside {
    width: 100%;
    padding: 0;
    }

    nav{
    	text-align: center;
    }

    nav li{
    	line-height: 2.0;
    }
 
    .logo{
    	width: 80%;
    	height: 230px
    }

    #inform{
    	margin-left: 60px
    }

    #logo h2{
    	margin-top: 30px;
    	text-align: center;
    }

    #logo figure{
    	margin-left: 120px
    }

    figcaption{
    	margin-left: 90px
    }

    #follow{
    	margin-left: 120px;	
    	margin-bottom: 30px
    }

  
    .why{
    	width: 100%;
    max-height: 350px;
    object-fit: cover;
    object-position: center;
    }

 }