@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
    box-sizing: border-box;
   }
   body {
    font-family: 'AlgerianRegular';
    margin: 0;
    padding: 0;
   }
   header {
    display: inline;
   }

   .jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #00b3b3;
    text-align: center;
    color: white;
   }

   nav {
    background-color:#009999;
    padding: 5px;
    display: flex;
    top: 0;
   }
   nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white
   }
   nav a:hover {
    font-size: 19px;
    font-weight: bold;
    color: white;
   }
  nav li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
   }

   p{
    font-family: "UIN Font";
    font-size: 18px;
    line-height: 1.5
   }

   .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
   }

   main {
    padding: 20px;
    overflow: auto;
   }

   #content {
    float: left;
    width: 75%;
   }

   aside{
  float: right;
  width: 25%;
  padding-left: 20px;
}


   .featured-image {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    object-position: center;
   }

   .logo{
    width: 100%;
    height: 220px
   }
   figcaption{
    margin-left: 60px
   }

   .card#profile {
  
  transition: 0.3s;
  width: 100%;
}
  




.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}
   .profil{
    width: 100%
   }


      .button {
  font-family: "UIN Font";
    font-size: 18px;
    text-decoration: bold;
  display: inline-block;
  width: 55%;
  height: 55px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #009999;
  border: none;
  border-radius: 7px;
  box-shadow: 0 9px #999;
  margin: 50px 0px 0px 80px;
}

.button:hover {background-color: #00b3b3}

.button:active {
  background-color: #008080;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 
#myBtn{
  font-size: 40px;
  width: 60px;
  height: 65px;
  padding-top: 10px;
  display: none;
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border-radius: 5px; /* Rounded corners */
   outline: none; /* Remove borders */
   background: #48D1CC;
   color: white
}

   h2, h3 {
    color: #041b14;
   }
   
   footer {
    padding: 20px;
    color: white;
    background-color:  #20B2AA;
    text-align: center;
    font-weight: bold;
   
   }
